body{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}


header{
    font-size: 30px;
    text-align: center;
     margin-bottom: 30px;
     color:rgb(8, 26, 23);
     
     text-decoration-line:underline;
     text-decoration-thickness:2px;

}

#form{
    opacity: 90%;
    width: 500px;
    background-color: rgb(133, 177, 177);
    
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
text-align: center;

}

.item{
    font-size: 25px;
}
.dato{
    text-align: center;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: aliceblue;
  
}
#boton{
    opacity: 100%;
   margin: 35px; 
    font-size: 20px;
    letter-spacing: 5px;
    font-family: 'Koulen', cursive;
    background-color: rgb(104, 165, 141);
    font-weight:bolder;
    width: 400px;
    height: 40px;
    }

    #boton:hover{
        margin: 35px; 
         font-size: 20px;
         letter-spacing: 5px;
         font-family: 'Koulen', cursive;
         background-color: rgb(104, 165, 141);
         font-weight:bolder;
         width: 405px;
         height: 45px;
         }
    
#icono{
    color: rgb(46, 94, 62);
    font-size: 20px;
    background-color: rgb(104, 165, 141);
    font-weight:bolder;
}
label{
    font-weight: bold;
}

#terminos{
    font-size: 18px;
    
}
a{
    text-decoration: none;
    font-weight: bold;
}